<?php
/**
 * BeaconObjektApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Healthcare App
 *
 * Beschreibung der Rest-Schnitstelle der Healthcare API
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * BeaconObjektApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class BeaconObjektApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return BeaconObjektApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation beaconObjectsBeaconObjectIdMaintainancetasksGet
     *
     * Alle Maintainancetasks die zu diesem BeaconObjekt gehören
     *
     * @param int $beacon_object_id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask[]
     */
    public function beaconObjectsBeaconObjectIdMaintainancetasksGet($beacon_object_id)
    {
        list($response) = $this->beaconObjectsBeaconObjectIdMaintainancetasksGetWithHttpInfo($beacon_object_id);
        return $response;
    }

    /**
     * Operation beaconObjectsBeaconObjectIdMaintainancetasksGetWithHttpInfo
     *
     * Alle Maintainancetasks die zu diesem BeaconObjekt gehören
     *
     * @param int $beacon_object_id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function beaconObjectsBeaconObjectIdMaintainancetasksGetWithHttpInfo($beacon_object_id)
    {
        // verify the required parameter 'beacon_object_id' is set
        if ($beacon_object_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $beacon_object_id when calling beaconObjectsBeaconObjectIdMaintainancetasksGet');
        }
        // parse inputs
        $resourcePath = "/beaconObjects/{beaconObjectId}/maintainancetasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($beacon_object_id !== null) {
            $resourcePath = str_replace(
                "{" . "beaconObjectId" . "}",
                $this->apiClient->getSerializer()->toPathValue($beacon_object_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask[]',
                '/beaconObjects/{beaconObjectId}/maintainancetasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
