<?php
/**
 * MaintainanceTaskApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Healthcare App
 *
 * Beschreibung der Rest-Schnitstelle der Healthcare API
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * MaintainanceTaskApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MaintainanceTaskApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return MaintainanceTaskApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation beaconObjectsBeaconObjectIdMaintainancetasksGet
     *
     * Alle Maintainancetasks die zu diesem BeaconObjekt gehören
     *
     * @param int $beacon_object_id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask[]
     */
    public function beaconObjectsBeaconObjectIdMaintainancetasksGet($beacon_object_id)
    {
        list($response) = $this->beaconObjectsBeaconObjectIdMaintainancetasksGetWithHttpInfo($beacon_object_id);
        return $response;
    }

    /**
     * Operation beaconObjectsBeaconObjectIdMaintainancetasksGetWithHttpInfo
     *
     * Alle Maintainancetasks die zu diesem BeaconObjekt gehören
     *
     * @param int $beacon_object_id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function beaconObjectsBeaconObjectIdMaintainancetasksGetWithHttpInfo($beacon_object_id)
    {
        // verify the required parameter 'beacon_object_id' is set
        if ($beacon_object_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $beacon_object_id when calling beaconObjectsBeaconObjectIdMaintainancetasksGet');
        }
        // parse inputs
        $resourcePath = "/beaconObjects/{beaconObjectId}/maintainancetasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($beacon_object_id !== null) {
            $resourcePath = str_replace(
                "{" . "beaconObjectId" . "}",
                $this->apiClient->getSerializer()->toPathValue($beacon_object_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask[]',
                '/beaconObjects/{beaconObjectId}/maintainancetasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation locationsMaintainancetasksGet
     *
     * Liefert alle MaintainanceTasks zu einer örtlichen beschreibung
     *
     * @param int $floor  (optional)
     * @param int $building  (optional)
     * @param int $room  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask[]
     */
    public function locationsMaintainancetasksGet($floor = null, $building = null, $room = null)
    {
        list($response) = $this->locationsMaintainancetasksGetWithHttpInfo($floor, $building, $room);
        return $response;
    }

    /**
     * Operation locationsMaintainancetasksGetWithHttpInfo
     *
     * Liefert alle MaintainanceTasks zu einer örtlichen beschreibung
     *
     * @param int $floor  (optional)
     * @param int $building  (optional)
     * @param int $room  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function locationsMaintainancetasksGetWithHttpInfo($floor = null, $building = null, $room = null)
    {
        // parse inputs
        $resourcePath = "/locations/maintainancetasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($floor !== null) {
            $queryParams['floor'] = $this->apiClient->getSerializer()->toQueryValue($floor);
        }
        // query params
        if ($building !== null) {
            $queryParams['building'] = $this->apiClient->getSerializer()->toQueryValue($building);
        }
        // query params
        if ($room !== null) {
            $queryParams['room'] = $this->apiClient->getSerializer()->toQueryValue($room);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask[]',
                '/locations/maintainancetasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksAppPost
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\UserName2 $user_name  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param string $before Vor welchem Datum (optional, default to now)
     * @param string $since Seit Wann (optional, default to 1970-01-01)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask[]
     */
    public function maintainancetasksAppPost($user_name, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        list($response) = $this->maintainancetasksAppPostWithHttpInfo($user_name, $limit, $before, $since, $open, $closed, $processing, $own, $building);
        return $response;
    }

    /**
     * Operation maintainancetasksAppPostWithHttpInfo
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\UserName2 $user_name  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param string $before Vor welchem Datum (optional, default to now)
     * @param string $since Seit Wann (optional, default to 1970-01-01)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksAppPostWithHttpInfo($user_name, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        // verify the required parameter 'user_name' is set
        if ($user_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_name when calling maintainancetasksAppPost');
        }
        // parse inputs
        $resourcePath = "/maintainancetasksApp";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($before !== null) {
            $queryParams['before'] = $this->apiClient->getSerializer()->toQueryValue($before);
        }
        // query params
        if ($since !== null) {
            $queryParams['since'] = $this->apiClient->getSerializer()->toQueryValue($since);
        }
        // query params
        if ($open !== null) {
            $queryParams['open'] = $this->apiClient->getSerializer()->toQueryValue($open);
        }
        // query params
        if ($closed !== null) {
            $queryParams['closed'] = $this->apiClient->getSerializer()->toQueryValue($closed);
        }
        // query params
        if ($processing !== null) {
            $queryParams['processing'] = $this->apiClient->getSerializer()->toQueryValue($processing);
        }
        // query params
        if ($own !== null) {
            $queryParams['own'] = $this->apiClient->getSerializer()->toQueryValue($own);
        }
        // query params
        if ($building !== null) {
            $queryParams['building'] = $this->apiClient->getSerializer()->toQueryValue($building);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_name)) {
            $_tempBody = $user_name;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask[]',
                '/maintainancetasksApp'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ErrorQuery', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksAppSizePost
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName4 $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return int
     */
    public function maintainancetasksAppSizePost($new_tasks, $user_name)
    {
        list($response) = $this->maintainancetasksAppSizePostWithHttpInfo($new_tasks, $user_name);
        return $response;
    }

    /**
     * Operation maintainancetasksAppSizePostWithHttpInfo
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName4 $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of int, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksAppSizePostWithHttpInfo($new_tasks, $user_name)
    {
        // verify the required parameter 'new_tasks' is set
        if ($new_tasks === null) {
            throw new \InvalidArgumentException('Missing the required parameter $new_tasks when calling maintainancetasksAppSizePost');
        }
        // verify the required parameter 'user_name' is set
        if ($user_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_name when calling maintainancetasksAppSizePost');
        }
        // parse inputs
        $resourcePath = "/maintainancetasksApp/size";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($new_tasks !== null) {
            $queryParams['newTasks'] = $this->apiClient->getSerializer()->toQueryValue($new_tasks);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_name)) {
            $_tempBody = $user_name;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'int',
                '/maintainancetasksApp/size'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'int', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'int', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksGet
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\UserName3 $user_name  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param string $before Vor welchem Datum (optional, default to now)
     * @param string $since Seit Wann (optional, default to 1970-01-01)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask[]
     */
    public function maintainancetasksGet($user_name, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        list($response) = $this->maintainancetasksGetWithHttpInfo($user_name, $limit, $before, $since, $open, $closed, $processing, $own, $building);
        return $response;
    }

    /**
     * Operation maintainancetasksGetWithHttpInfo
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\UserName3 $user_name  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param string $before Vor welchem Datum (optional, default to now)
     * @param string $since Seit Wann (optional, default to 1970-01-01)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksGetWithHttpInfo($user_name, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        // verify the required parameter 'user_name' is set
        if ($user_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_name when calling maintainancetasksGet');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($before !== null) {
            $queryParams['before'] = $this->apiClient->getSerializer()->toQueryValue($before);
        }
        // query params
        if ($since !== null) {
            $queryParams['since'] = $this->apiClient->getSerializer()->toQueryValue($since);
        }
        // query params
        if ($open !== null) {
            $queryParams['open'] = $this->apiClient->getSerializer()->toQueryValue($open);
        }
        // query params
        if ($closed !== null) {
            $queryParams['closed'] = $this->apiClient->getSerializer()->toQueryValue($closed);
        }
        // query params
        if ($processing !== null) {
            $queryParams['processing'] = $this->apiClient->getSerializer()->toQueryValue($processing);
        }
        // query params
        if ($own !== null) {
            $queryParams['own'] = $this->apiClient->getSerializer()->toQueryValue($own);
        }
        // query params
        if ($building !== null) {
            $queryParams['building'] = $this->apiClient->getSerializer()->toQueryValue($building);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_name)) {
            $_tempBody = $user_name;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask[]',
                '/maintainancetasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ErrorQuery', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksPost
     *
     * Erstelle einen neuen Task
     *
     * @param \Swagger\Client\Model\MaintainanceTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask
     */
    public function maintainancetasksPost($body)
    {
        list($response) = $this->maintainancetasksPostWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation maintainancetasksPostWithHttpInfo
     *
     * Erstelle einen neuen Task
     *
     * @param \Swagger\Client\Model\MaintainanceTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksPostWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling maintainancetasksPost');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask',
                '/maintainancetasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksSizeGet
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName5 $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return int
     */
    public function maintainancetasksSizeGet($new_tasks, $user_name)
    {
        list($response) = $this->maintainancetasksSizeGetWithHttpInfo($new_tasks, $user_name);
        return $response;
    }

    /**
     * Operation maintainancetasksSizeGetWithHttpInfo
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName5 $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of int, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksSizeGetWithHttpInfo($new_tasks, $user_name)
    {
        // verify the required parameter 'new_tasks' is set
        if ($new_tasks === null) {
            throw new \InvalidArgumentException('Missing the required parameter $new_tasks when calling maintainancetasksSizeGet');
        }
        // verify the required parameter 'user_name' is set
        if ($user_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_name when calling maintainancetasksSizeGet');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks/size";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($new_tasks !== null) {
            $queryParams['newTasks'] = $this->apiClient->getSerializer()->toQueryValue($new_tasks);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_name)) {
            $_tempBody = $user_name;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'int',
                '/maintainancetasks/size'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'int', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'int', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksTaskidDelete
     *
     * löschen
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function maintainancetasksTaskidDelete($taskid)
    {
        list($response) = $this->maintainancetasksTaskidDeleteWithHttpInfo($taskid);
        return $response;
    }

    /**
     * Operation maintainancetasksTaskidDeleteWithHttpInfo
     *
     * löschen
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksTaskidDeleteWithHttpInfo($taskid)
    {
        // verify the required parameter 'taskid' is set
        if ($taskid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $taskid when calling maintainancetasksTaskidDelete');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks/{taskid}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($taskid !== null) {
            $resourcePath = str_replace(
                "{" . "taskid" . "}",
                $this->apiClient->getSerializer()->toPathValue($taskid),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/maintainancetasks/{taskid}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksTaskidGet
     *
     * Erhalte einen einzelnen Task
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\MaintainanceTask
     */
    public function maintainancetasksTaskidGet($taskid)
    {
        list($response) = $this->maintainancetasksTaskidGetWithHttpInfo($taskid);
        return $response;
    }

    /**
     * Operation maintainancetasksTaskidGetWithHttpInfo
     *
     * Erhalte einen einzelnen Task
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\MaintainanceTask, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksTaskidGetWithHttpInfo($taskid)
    {
        // verify the required parameter 'taskid' is set
        if ($taskid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $taskid when calling maintainancetasksTaskidGet');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks/{taskid}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($taskid !== null) {
            $resourcePath = str_replace(
                "{" . "taskid" . "}",
                $this->apiClient->getSerializer()->toPathValue($taskid),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\MaintainanceTask',
                '/maintainancetasks/{taskid}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\MaintainanceTask', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\MaintainanceTask', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksTaskidPut
     *
     * Update einen Task
     *
     * @param int $taskid  (required)
     * @param \Swagger\Client\Model\MaintainanceTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function maintainancetasksTaskidPut($taskid, $body)
    {
        list($response) = $this->maintainancetasksTaskidPutWithHttpInfo($taskid, $body);
        return $response;
    }

    /**
     * Operation maintainancetasksTaskidPutWithHttpInfo
     *
     * Update einen Task
     *
     * @param int $taskid  (required)
     * @param \Swagger\Client\Model\MaintainanceTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksTaskidPutWithHttpInfo($taskid, $body)
    {
        // verify the required parameter 'taskid' is set
        if ($taskid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $taskid when calling maintainancetasksTaskidPut');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling maintainancetasksTaskidPut');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks/{taskid}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($taskid !== null) {
            $resourcePath = str_replace(
                "{" . "taskid" . "}",
                $this->apiClient->getSerializer()->toPathValue($taskid),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/maintainancetasks/{taskid}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }
}
