<?php
/**
 * TransportTaskApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Healthcare App
 *
 * Beschreibung der Rest-Schnitstelle der Healthcare API
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * TransportTaskApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class TransportTaskApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return TransportTaskApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation beaconObjectsBeaconObjectIdTransporttasksGet
     *
     * Erhalte alle Transporttasks die zu diesem beaconObject gehören
     *
     * @param int $beacon_object_id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\TransportTask[]
     */
    public function beaconObjectsBeaconObjectIdTransporttasksGet($beacon_object_id)
    {
        list($response) = $this->beaconObjectsBeaconObjectIdTransporttasksGetWithHttpInfo($beacon_object_id);
        return $response;
    }

    /**
     * Operation beaconObjectsBeaconObjectIdTransporttasksGetWithHttpInfo
     *
     * Erhalte alle Transporttasks die zu diesem beaconObject gehören
     *
     * @param int $beacon_object_id  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\TransportTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function beaconObjectsBeaconObjectIdTransporttasksGetWithHttpInfo($beacon_object_id)
    {
        // verify the required parameter 'beacon_object_id' is set
        if ($beacon_object_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $beacon_object_id when calling beaconObjectsBeaconObjectIdTransporttasksGet');
        }
        // parse inputs
        $resourcePath = "/beaconObjects/{beaconObjectId}/transporttasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($beacon_object_id !== null) {
            $resourcePath = str_replace(
                "{" . "beaconObjectId" . "}",
                $this->apiClient->getSerializer()->toPathValue($beacon_object_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\TransportTask[]',
                '/beaconObjects/{beaconObjectId}/transporttasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\TransportTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\TransportTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation locationsTransporttasksGet
     *
     * Liefert alle TransportTask zu einer örtlichen beschreibung
     *
     * @param int $floor  (optional)
     * @param int $building  (optional)
     * @param int $room  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\TransportTask[]
     */
    public function locationsTransporttasksGet($floor = null, $building = null, $room = null)
    {
        list($response) = $this->locationsTransporttasksGetWithHttpInfo($floor, $building, $room);
        return $response;
    }

    /**
     * Operation locationsTransporttasksGetWithHttpInfo
     *
     * Liefert alle TransportTask zu einer örtlichen beschreibung
     *
     * @param int $floor  (optional)
     * @param int $building  (optional)
     * @param int $room  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\TransportTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function locationsTransporttasksGetWithHttpInfo($floor = null, $building = null, $room = null)
    {
        // parse inputs
        $resourcePath = "/locations/transporttasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($floor !== null) {
            $queryParams['floor'] = $this->apiClient->getSerializer()->toQueryValue($floor);
        }
        // query params
        if ($building !== null) {
            $queryParams['building'] = $this->apiClient->getSerializer()->toQueryValue($building);
        }
        // query params
        if ($room !== null) {
            $queryParams['room'] = $this->apiClient->getSerializer()->toQueryValue($room);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\TransportTask[]',
                '/locations/transporttasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\TransportTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\TransportTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation maintainancetasksPut
     *
     * Eine reihe MaintainanceTask bearbeiten
     *
     * @param \Swagger\Client\Model\MaintainanceTask[] $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function maintainancetasksPut($body)
    {
        list($response) = $this->maintainancetasksPutWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation maintainancetasksPutWithHttpInfo
     *
     * Eine reihe MaintainanceTask bearbeiten
     *
     * @param \Swagger\Client\Model\MaintainanceTask[] $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function maintainancetasksPutWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling maintainancetasksPut');
        }
        // parse inputs
        $resourcePath = "/maintainancetasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/maintainancetasks'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksAppPost
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\Body1 $body  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param \DateTime $before Vor welchem Datum (optional)
     * @param \DateTime $since Seit Wann (optional)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\TransportTask[]
     */
    public function transporttasksAppPost($body, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        list($response) = $this->transporttasksAppPostWithHttpInfo($body, $limit, $before, $since, $open, $closed, $processing, $own, $building);
        return $response;
    }

    /**
     * Operation transporttasksAppPostWithHttpInfo
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\Body1 $body  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param \DateTime $before Vor welchem Datum (optional)
     * @param \DateTime $since Seit Wann (optional)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\TransportTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksAppPostWithHttpInfo($body, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling transporttasksAppPost');
        }
        // parse inputs
        $resourcePath = "/transporttasksApp";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($before !== null) {
            $queryParams['before'] = $this->apiClient->getSerializer()->toQueryValue($before);
        }
        // query params
        if ($since !== null) {
            $queryParams['since'] = $this->apiClient->getSerializer()->toQueryValue($since);
        }
        // query params
        if ($open !== null) {
            $queryParams['open'] = $this->apiClient->getSerializer()->toQueryValue($open);
        }
        // query params
        if ($closed !== null) {
            $queryParams['closed'] = $this->apiClient->getSerializer()->toQueryValue($closed);
        }
        // query params
        if ($processing !== null) {
            $queryParams['processing'] = $this->apiClient->getSerializer()->toQueryValue($processing);
        }
        // query params
        if ($own !== null) {
            $queryParams['own'] = $this->apiClient->getSerializer()->toQueryValue($own);
        }
        // query params
        if ($building !== null) {
            $queryParams['building'] = $this->apiClient->getSerializer()->toQueryValue($building);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\TransportTask[]',
                '/transporttasksApp'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\TransportTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\TransportTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ErrorQuery', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksAppSizePost
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return int
     */
    public function transporttasksAppSizePost($new_tasks, $user_name)
    {
        list($response) = $this->transporttasksAppSizePostWithHttpInfo($new_tasks, $user_name);
        return $response;
    }

    /**
     * Operation transporttasksAppSizePostWithHttpInfo
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of int, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksAppSizePostWithHttpInfo($new_tasks, $user_name)
    {
        // verify the required parameter 'new_tasks' is set
        if ($new_tasks === null) {
            throw new \InvalidArgumentException('Missing the required parameter $new_tasks when calling transporttasksAppSizePost');
        }
        // verify the required parameter 'user_name' is set
        if ($user_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_name when calling transporttasksAppSizePost');
        }
        // parse inputs
        $resourcePath = "/transporttasksApp/size";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($new_tasks !== null) {
            $queryParams['newTasks'] = $this->apiClient->getSerializer()->toQueryValue($new_tasks);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_name)) {
            $_tempBody = $user_name;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'int',
                '/transporttasksApp/size'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'int', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'int', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksGet
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\Body2 $body  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param string $before Vor welchem Datum (optional, default to now)
     * @param string $since Seit Wann (optional, default to 1970-01-01)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\TransportTask[]
     */
    public function transporttasksGet($body, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        list($response) = $this->transporttasksGetWithHttpInfo($body, $limit, $before, $since, $open, $closed, $processing, $own, $building);
        return $response;
    }

    /**
     * Operation transporttasksGetWithHttpInfo
     *
     * Erhalte die ersten 20 offenen tasks
     *
     * @param \Swagger\Client\Model\Body2 $body  (required)
     * @param int $limit Wie viele Tasks sollen geliefert werden (optional, default to 20)
     * @param string $before Vor welchem Datum (optional, default to now)
     * @param string $since Seit Wann (optional, default to 1970-01-01)
     * @param bool $open  (optional, default to true)
     * @param bool $closed  (optional, default to true)
     * @param bool $processing  (optional, default to true)
     * @param bool $own Nur eigene tasks anzeigen? (optional, default to false)
     * @param int $building  (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\TransportTask[], HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksGetWithHttpInfo($body, $limit = null, $before = null, $since = null, $open = null, $closed = null, $processing = null, $own = null, $building = null)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling transporttasksGet');
        }
        // parse inputs
        $resourcePath = "/transporttasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($limit !== null) {
            $queryParams['limit'] = $this->apiClient->getSerializer()->toQueryValue($limit);
        }
        // query params
        if ($before !== null) {
            $queryParams['before'] = $this->apiClient->getSerializer()->toQueryValue($before);
        }
        // query params
        if ($since !== null) {
            $queryParams['since'] = $this->apiClient->getSerializer()->toQueryValue($since);
        }
        // query params
        if ($open !== null) {
            $queryParams['open'] = $this->apiClient->getSerializer()->toQueryValue($open);
        }
        // query params
        if ($closed !== null) {
            $queryParams['closed'] = $this->apiClient->getSerializer()->toQueryValue($closed);
        }
        // query params
        if ($processing !== null) {
            $queryParams['processing'] = $this->apiClient->getSerializer()->toQueryValue($processing);
        }
        // query params
        if ($own !== null) {
            $queryParams['own'] = $this->apiClient->getSerializer()->toQueryValue($own);
        }
        // query params
        if ($building !== null) {
            $queryParams['building'] = $this->apiClient->getSerializer()->toQueryValue($building);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\TransportTask[]',
                '/transporttasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\TransportTask[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\TransportTask[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ErrorQuery', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksPost
     *
     * Erstelle einen neuen Task
     *
     * @param \Swagger\Client\Model\TransportTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\TransportTask
     */
    public function transporttasksPost($body)
    {
        list($response) = $this->transporttasksPostWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation transporttasksPostWithHttpInfo
     *
     * Erstelle einen neuen Task
     *
     * @param \Swagger\Client\Model\TransportTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\TransportTask, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksPostWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling transporttasksPost');
        }
        // parse inputs
        $resourcePath = "/transporttasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\TransportTask',
                '/transporttasks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\TransportTask', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\TransportTask', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksPut
     *
     * Eine reihe Transporttasks bearbeiten
     *
     * @param \Swagger\Client\Model\TransportTask[] $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function transporttasksPut($body)
    {
        list($response) = $this->transporttasksPutWithHttpInfo($body);
        return $response;
    }

    /**
     * Operation transporttasksPutWithHttpInfo
     *
     * Eine reihe Transporttasks bearbeiten
     *
     * @param \Swagger\Client\Model\TransportTask[] $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksPutWithHttpInfo($body)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling transporttasksPut');
        }
        // parse inputs
        $resourcePath = "/transporttasks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/transporttasks'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksSizeGet
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName1 $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return int
     */
    public function transporttasksSizeGet($new_tasks, $user_name)
    {
        list($response) = $this->transporttasksSizeGetWithHttpInfo($new_tasks, $user_name);
        return $response;
    }

    /**
     * Operation transporttasksSizeGetWithHttpInfo
     *
     * Anzahl der Tasks
     *
     * @param bool $new_tasks Nur die anzahl an neuen Tasks haben seit der letzten abfrage (required)
     * @param \Swagger\Client\Model\UserName1 $user_name  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of int, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksSizeGetWithHttpInfo($new_tasks, $user_name)
    {
        // verify the required parameter 'new_tasks' is set
        if ($new_tasks === null) {
            throw new \InvalidArgumentException('Missing the required parameter $new_tasks when calling transporttasksSizeGet');
        }
        // verify the required parameter 'user_name' is set
        if ($user_name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_name when calling transporttasksSizeGet');
        }
        // parse inputs
        $resourcePath = "/transporttasks/size";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($new_tasks !== null) {
            $queryParams['newTasks'] = $this->apiClient->getSerializer()->toQueryValue($new_tasks);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($user_name)) {
            $_tempBody = $user_name;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'int',
                '/transporttasks/size'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'int', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'int', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksTaskidDelete
     *
     * Löscht dieses Objekt
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function transporttasksTaskidDelete($taskid)
    {
        list($response) = $this->transporttasksTaskidDeleteWithHttpInfo($taskid);
        return $response;
    }

    /**
     * Operation transporttasksTaskidDeleteWithHttpInfo
     *
     * Löscht dieses Objekt
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksTaskidDeleteWithHttpInfo($taskid)
    {
        // verify the required parameter 'taskid' is set
        if ($taskid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $taskid when calling transporttasksTaskidDelete');
        }
        // parse inputs
        $resourcePath = "/transporttasks/{taskid}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($taskid !== null) {
            $resourcePath = str_replace(
                "{" . "taskid" . "}",
                $this->apiClient->getSerializer()->toPathValue($taskid),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/transporttasks/{taskid}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksTaskidGet
     *
     * Erhalte einen einzelnen Task
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\TransportTask
     */
    public function transporttasksTaskidGet($taskid)
    {
        list($response) = $this->transporttasksTaskidGetWithHttpInfo($taskid);
        return $response;
    }

    /**
     * Operation transporttasksTaskidGetWithHttpInfo
     *
     * Erhalte einen einzelnen Task
     *
     * @param int $taskid  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\TransportTask, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksTaskidGetWithHttpInfo($taskid)
    {
        // verify the required parameter 'taskid' is set
        if ($taskid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $taskid when calling transporttasksTaskidGet');
        }
        // parse inputs
        $resourcePath = "/transporttasks/{taskid}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($taskid !== null) {
            $resourcePath = str_replace(
                "{" . "taskid" . "}",
                $this->apiClient->getSerializer()->toPathValue($taskid),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\TransportTask',
                '/transporttasks/{taskid}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\TransportTask', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\TransportTask', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 404:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation transporttasksTaskidPut
     *
     * Update einen Task
     *
     * @param int $taskid  (required)
     * @param \Swagger\Client\Model\TransportTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return void
     */
    public function transporttasksTaskidPut($taskid, $body)
    {
        list($response) = $this->transporttasksTaskidPutWithHttpInfo($taskid, $body);
        return $response;
    }

    /**
     * Operation transporttasksTaskidPutWithHttpInfo
     *
     * Update einen Task
     *
     * @param int $taskid  (required)
     * @param \Swagger\Client\Model\TransportTask $body  (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function transporttasksTaskidPutWithHttpInfo($taskid, $body)
    {
        // verify the required parameter 'taskid' is set
        if ($taskid === null) {
            throw new \InvalidArgumentException('Missing the required parameter $taskid when calling transporttasksTaskidPut');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling transporttasksTaskidPut');
        }
        // parse inputs
        $resourcePath = "/transporttasks/{taskid}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($taskid !== null) {
            $resourcePath = str_replace(
                "{" . "taskid" . "}",
                $this->apiClient->getSerializer()->toPathValue($taskid),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/transporttasks/{taskid}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }
}
